<!DOCTYPE html>
<html>
  <head>
    <title>Halloween Madlib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1 class="jumbotron">Halloween Mad Libs</h1>
      <p>Halloween is the best time to @Model.Verb1</p>
      <p>The weather is @Model.Adjective1 and @Model.Adjective2 and you get to go door to door saying "Trick or Treat!"</p>
      <p>And your neighbors give you @Model.PluralNoun1 and @Model.PluralNoun2 to eat.</p>
      <p>This year I will dress up as a @Model.Noun1, a @Model.Adjective3 @Model.Color @Model.Noun2, or maybe a @Model.Adjective4 @Model.Animal.</p>
      <p>If someone says "Trick" instead of giving you a treat you might have to @Model.Verb2 or @Model.Verb3 to try and scare them and earn your treat!</p>
      <a href="/"><button type="button" class="btn btn-info">Play Again</button></a>
    </div>
  </body>
</html>